<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631658472786-u91uvng3pbkga6q4oj0tke6p741hipq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631658472786-u91uvng3pbkga6q4oj0tke6p741hipq9</string>
	<key>API_KEY</key>
	<string>AIzaSyBOf_-ruomK2PvoUyNmPCwizSLNP5unaRA</string>
	<key>GCM_SENDER_ID</key>
	<string>631658472786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rolls.RollsAuth</string>
	<key>PROJECT_ID</key>
	<string>rollsauth</string>
	<key>STORAGE_BUCKET</key>
	<string>rollsauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631658472786:ios:222ba8485e4d71e5bb868b</string>
</dict>
</plist>